$primary-color: #6c22b3;
$secondary-light: #A74AFF;
$secondary-dark:   #390A66;
$light-Grayish-Blue: hsl(214, 64%, 98%);
$mid-Grayish-Blue: hsl(208, 11%, 55%);
// $very-Dark-Cyan: hsl(192, 100%, 9%);
$math-width: 100vw;
$math-height: calc(100vw * 1.90566038);

$myBlack: #010101;
$myWhite: ghostwhite;